Pyconda/__pycache__/design.cpython-35.pyc
Pyconda/__pycache__/mainwindow.cpython-35.pyc
Pyconda/__pycache__/video.cpython-35.pyc
.vs/Pyconda/v14/.suo
/.vs/Pyconda/v15/.suo
/Pyconda.VC.db
/Pyconda/__pycache__/out.cpython-35.pyc
/Pyconda/__pycache__/ShowAnomaly.cpython-35.pyc
/Pyconda/__pycache__/ShowAnomaly.cpython-36.pyc
/Pyconda/__pycache__/video.cpython-36.pyc
/UpgradeLog.htm
